# Itchy Boots Analysis

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. Veriyi yükleme

In [3]:
data = pd.read_csv('datasets/itchy_boots_ready.csv')

In [4]:
data.head()

,Unnamed: 0.1,Unnamed: 0,season_no,season_title,uploading_date,rate,E,title
0,0,0,7,Return to Africa,0,1237258,-1,ITCHY BOOTS New Season: this is where I am go...
1,1,1,7,Return to Africa,0,1548717,2,I need their help.
2,2,2,7,Return to Africa,0,905116,3,No motorcyclists have gone here before
3,3,3,7,Return to Africa,0,790900,4,How I ended up in a Berber village in Morocco
4,4,4,7,Return to Africa,0,648198,5,Motorcycling solo into the Sahara Desert of Mo...

In [8]:
data = data.iloc[:,1:]

# 2. EDA

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season_no       471 non-null    int64
 1   season_title    471 non-null    object
 2   uploading_date  471 non-null    int64
 3   rate            471 non-null    int64
 4   E               471 non-null    int64
 5   title           471 non-null    object
dtypes: int64(4), object(2)
memory usage: 22.2+ KB

In [10]:
data.isnull().sum()

season_no         0
season_title      0
uploading_date    0
rate              0
E                 0
title             0
dtype: int64

In [11]:
# Burada sadece time ve rate değişkenleri anlamlı. Sezon ve bölüm sayılarının ortalamasından çok anlamlı bir şey beklemiyorum.
data.describe().T

,count,mean,std,min,25%,50%,75%,max
season_no,471.0,3.825902,2.187841,0.0,2.0,5.0,6.0,7.0
uploading_date,471.0,2.084926,1.326171,0.0,1.0,2.0,3.0,4.0
rate,471.0,595759.838641,514878.502849,167728.0,328092.0,446148.0,659515.5,5916220.0
E,471.0,38.732484,27.707296,-1.0,15.0,35.0,61.0,100.0

In [12]:
# Hangi sezonda ne kadar bölüm olduğu bilgisi
data.season_title.value_counts()

season_title
Project Alaska                                       100
India to Europe                                      100
Southern Africa                                       96
Patagonia to Alaska                                   77
Return to Africa                                      46
Denmark, Iceland, Norway & Sweden                     34
The Dutch Moto Scene                                  11
['Adventure Intermezzo: Tour of The Netherlands']      7
Name: count, dtype: int64

In [13]:
# 0 sezonu aslında küçük bir ara sezon ve 0 da değil. 
data.season_no.value_counts()

season_no
6    100
1    100
5     96
2     77
7     46
3     34
4     11
0      7
Name: count, dtype: int64

In [34]:
# Değerlerde anlamsız sonuçlar var mı?
data.uploading_date.value_counts()

uploading_date
1    142
4    100
2     94
3     84
0     51
Name: count, dtype: int64

In [35]:
# Her bir videonun rating'i sayısal ve devamlı olduğu için min ve max 
data.rate.min(), data.rate.max()

(167728, 5916220)

In [14]:
# 26 tane -1 çözülmesi gereken bir sorun, bu incelenmeli
data.E.value_counts()

E
-1      17
 3       8
 4       8
 5       8
 6       8
        ..
 89      2
 88      2
 87      2
 99      1
 100     1
Name: count, Length: 101, dtype: int64

In [15]:
data[data.E == -1]

,season_no,season_title,uploading_date,rate,E,title
0,7,Return to Africa,0,1237258,-1,ITCHY BOOTS New Season: this is where I am go...
232,5,Southern Africa,1,2075226,-1,22.000 kilometer solo motorcycle journey throu...
233,5,Southern Africa,1,504332,-1,READY for the KALAHARI RALLY?!
234,5,Southern Africa,1,399974,-1,Itchy Boots rides Kalahari Rally 2021 - SUPER ...
235,5,Southern Africa,1,306642,-1,Itchy Boots rides KALAHARI RALLY - Stage 1. TR...
236,5,Southern Africa,1,349367,-1,Itchy Boots rides KALAHARI RALLY - Stage 2. Ra...
237,5,Southern Africa,1,315992,-1,Riding KALAHARI DESERT DUNES on a CRF250L - St...
238,5,Southern Africa,1,330551,-1,KTM EXC 450 vs. Honda CRF250L in KALAHARI RALL...
239,5,Southern Africa,1,345388,-1,PROBLEMS on the longest stage.. Itchy Boots ri...
240,5,Southern Africa,1,611545,-1,I BROKE my Honda CRF250L into two pieces. Kala...
241,5,Southern Africa,1,966940,-1,It's over. Itchy Boots - SEASON 5 FINALE
249,4,The Dutch Moto Scene,2,241712,-1,Itchy Boots CHRISTMAS SPECIAL
253,3,"Denmark, Iceland, Norway & Sweden",2,225440,-1,Season 3 - SNEAK PREVIEW!
285,3,"Denmark, Iceland, Norway & Sweden",2,401879,-1,1700 kilometres in 4 days: I'm BACK!
294,2,Patagonia to Alaska,3,735742,-1,BIG NEWS!! (Good and bad...)
410,1,India to Europe,4,425697,-1,INDIA TO MALAYSIA - A solo motorcycle ride on ...
418,1,India to Europe,4,554656,-1,S1 - Installing PowerTRONIC ECU on the Royal E...