# Itchy Boots Analysis

In [47]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. Veriyi y√ºkleme

In [48]:
data = pd.read_csv('datasets/itchy_boots_ready.csv')

In [49]:
data.head()

,Unnamed: 0.1,Unnamed: 0,season_no,season_title,uploading_date,time,rate,E,title
0,0,0,7,Return to Africa,0,20,-1,ITCHY BOOTS New Season: this is where I am go...,ITCHY BOOTS New Season: this is where I am go...
1,1,1,7,Return to Africa,0,19,1548717,2,I need their help.
2,2,2,7,Return to Africa,0,25,905116,3,No motorcyclists have gone here before
3,3,3,7,Return to Africa,0,18,790900,4,How I ended up in a Berber village in Morocco
4,4,4,7,Return to Africa,0,18,648198,5,Motorcycling solo into the Sahara Desert of Mo...

In [50]:
data = data.iloc[:,1:]

# 2. EDA

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      471 non-null    int64
 1   season_no       471 non-null    int64
 2   season_title    471 non-null    object
 3   uploading_date  471 non-null    int64
 4   time            471 non-null    int64
 5   rate            471 non-null    int64
 6   E               471 non-null    object
 7   title           471 non-null    object
dtypes: int64(5), object(3)
memory usage: 29.6+ KB

In [52]:
data.isnull().sum()

Unnamed: 0        0
season_no         0
season_title      0
uploading_date    0
time              0
rate              0
E                 0
title             0
dtype: int64

In [53]:
# Burada sadece time ve rate deƒüi≈ükenleri anlamlƒ±. Sezon ve b√∂l√ºm sayƒ±larƒ±nƒ±n ortalamasƒ±ndan √ßok anlamlƒ± bir ≈üey beklemiyorum.
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,471.0,235.000000,136.110249,0.0,117.5,235.0,352.5,470.0
season_no,471.0,3.825902,2.187841,0.0,2.0,5.0,6.0,7.0
uploading_date,471.0,2.084926,1.326171,0.0,1.0,2.0,3.0,4.0
time,471.0,17.815287,6.454906,1.0,14.0,19.0,22.0,37.0
rate,471.0,567322.579618,524647.304519,-1.0,317265.0,428419.0,654125.0,5916220.0

In [54]:
# Hangi sezonda ne kadar b√∂l√ºm olduƒüu bilgisi
data.season_title.value_counts()

season_title
Project Alaska                                       100
India to Europe                                      100
Southern Africa                                       96
Patagonia to Alaska                                   77
Return to Africa                                      46
Denmark, Iceland, Norway & Sweden                     34
The Dutch Moto Scene                                  11
['Adventure Intermezzo: Tour of The Netherlands']      7
Name: count, dtype: int64

In [55]:
# 0 sezonu aslƒ±nda k√º√ß√ºk bir ara sezon ve 0 da deƒüil. 
data.season_no.value_counts()

season_no
6    100
1    100
5     96
2     77
7     46
3     34
4     11
0      7
Name: count, dtype: int64

In [56]:
# Deƒüerlerde anlamsƒ±z sonu√ßlar var mƒ±?
data.uploading_date.value_counts()

uploading_date
1    142
4    100
2     94
3     84
0     51
Name: count, dtype: int64

In [57]:
# Her bir videonun rating'i sayƒ±sal ve devamlƒ± olduƒüu i√ßin min ve max 
data.rate.min(), data.rate.max()

(-1, 5916220)

In [58]:
data.time.min(), data.time.max()

(1, 37)

# 3. Korelasyonlar

In [59]:
data.rate.corr(data.uploading_date)

-0.21230928135502042

In [67]:
data.E

0      ITCHY BOOTS  New Season: this is where I am go...
1                                                      2
2                                                      3
3                                                      4
4                                                      5
                             ...
466                                                   94
467                                                   95
468                                                   96
469                                                   97
470                                                   98
Name: E, Length: 471, dtype: object

In [65]:
# data.E.corr(data.uploading_date)

In [61]:
data.E.corr(data.rate)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
data.season_no.corr(data.rate)

In [ ]:
# Sezonlara g√∂re video s√ºresi arasƒ±nda pozitif bir ili≈üki var.
data.season_no.corr(data.time)

In [ ]:
# S√ºre ile izlenme oranƒ±nda √ßok zayƒ±f bir ili≈üki var.
data.rate.corr(data.time)

# 4. Plottings

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# ƒ∞lk sezonda s√ºreler artƒ±rmaya ba≈ülanmƒ±≈ü.
plt.scatter(data.E[data.season_no==1], data.time[data.season_no==1])

In [ ]:
# Son sezonlarda artƒ±k belirli bir s√ºrede karar kƒ±lmƒ±≈ü
plt.scatter(data.E[data.season_no==6], data.time[data.season_no==6])

In [ ]:
plt.scatter(data.E[data.season_no==1], data.rate[data.season_no==1])

In [ ]:
plt.scatter(data.E[data.season_no==6], data.rate[data.season_no==6])

In [ ]:
data.groupby('season_no')['rate'].mean()

In [ ]:
data.groupby('season_no')['rate'].min()

In [ ]:
data.groupby('season_no')['rate'].max()

# 5. En √ßok ve en az izlenenler

In [ ]:
data[data.rate > 2000000].sort_values(by='rate', ascending=False)

In [ ]:
# Kabaca bir bakƒ±≈üla yeni alƒ±nan motor, sƒ±nƒ±r ge√ßi≈üleri ve sorunlar daha fazla izleniyor gibi.
# Bir de az izlenenlere bakalƒ±m
# Burada sentiment analizi yapƒ±labilir. ƒ∞lerisi i√ßin d√º≈ü√ºnmeli!

In [ ]:
data[data.rate < 300000].sort_values(by='rate')

# 6. Sezonlar ve b√∂l√ºm sayƒ±larƒ±

In [ ]:
labels = data.season_no.value_counts().keys()
labels.sort_values()

In [ ]:
# Sezon ve b√∂l√ºmler
plt.figure(figsize=(10,10))
plt.title('Sezona g√∂re b√∂l√ºm sayƒ±larƒ±')
plt.pie(data.groupby('season_no')['E'].max(), labels=labels.sort_values())
plt.legend(title='Sezonlar')
plt.savefig('images/seasons.png');